---

- name: add PPAs for packages
  apt_repository: repo={{item}}
  become: true
  with_items:
    - ppa:neovim-ppa/unstable

- name: install base development packages
  apt: name={{item}} update_cache=yes state=present
  become: true
  with_items:
    - curl
    - docker.io
    - docker-compose
    - git
    - gradle
    - neovim
    - openjdk-8-jdk-headless
    - tar
    - tmux
    - unzip

- name: Ensure Projects directory
  file:
    state: directory
    mode: 0775
    dest: /home/{{ansible_user_id}}/Projects

- name: Clone projects from GitHub
  git:
    dest: /home/{{ansible_user_id}}/Projects/{{item}}
    repo: git@github.com:vincecima/{{item}}.git
    accept_hostkey: yes
    update: no
  with_items:
    - steel-config
    - www.vincecima.com
    - how-much-time-left
    - application-config

- name: Install rbenv
  git:
    dest: /home/{{ansible_user_id}}/.rbenv
    repo: https://github.com/rbenv/rbenv.git
    update: no

- name: Install ruby-build
  git:
    dest: /home/{{ansible_user_id}}/.rbenv/plugins/ruby-build
    repo: https://github.com/rbenv/ruby-build.git
    update: no

- name: Install ruby build environment
  apt: name={{item}} update_cache=yes state=present
  become: true
  with_items:
    - autoconf
    - bison
    - build-essential
    - libssl-dev
    - libyaml-dev
    - libreadline6-dev
    - zlib1g-dev
    - libncurses5-dev
    - libffi-dev
    - libgdbm3
    - libgdbm-dev
