---
- include: roles/base/tasks/main.darwin.yml
  when: ansible_os_family == "Darwin"

- include: roles/base/tasks/main.ubuntu.yml
  when: ansible_os_family == "Ubuntu"

- name: Fix permissions for all SSH keys
  file:
    path: "{{ ansible_env.HOME}}/.ssh/{{item}}"
    mode: 0400
  with_items:
    - id_rsa
    - id_rsa.pub

- name: Add a HOME/bin for commands
  file:
    path: "{{ ansible_env.HOME}}/bin"
    state: directory

- name: Clone dotfiles repo
  git:
    dest: "{{ ansible_env.HOME}}/.dotfiles"
    repo: git@github.com:vincecima/dotfiles.git
    update: no

- name: Activate dotfiles
  shell: rcup -f
  changed_when: False
