---
- name: Update homebrew
  homebrew:
    update_homebrew: true

- name: Add thoughtbot tap
  homebrew_tap:
    tap: thoughtbot/formulae
  when: ansible_os_family == "Darwin"

- name: Install base packages
  homebrew:
    name: "{{item}}"
  with_items:
    - rcm
    - rbenv
    - nodejs
